:root {
  --arboreal-online-semantic-button-upper-font-family: "Arial", Helvetica;
  --arboreal-online-semantic-button-upper-font-weight: 700;
  --arboreal-online-semantic-button-upper-font-size: 13px;
  --arboreal-online-semantic-button-upper-letter-spacing: 1.2999999523162842px;
  --arboreal-online-semantic-button-upper-line-height: 13px;
  --arboreal-online-semantic-button-upper-font-style: normal;
  --arboreal-online-semantic-heading-3-upper-font-family: "Montserrat",
    Helvetica;
  --arboreal-online-semantic-heading-3-upper-font-weight: 400;
  --arboreal-online-semantic-heading-3-upper-font-size: 35.099998474121094px;
  --arboreal-online-semantic-heading-3-upper-letter-spacing: 0px;
  --arboreal-online-semantic-heading-3-upper-line-height: 42.119998931884766px;
  --arboreal-online-semantic-heading-3-upper-font-style: normal;
  --arboreal-online-semantic-heading-4-upper-font-family: "Montserrat",
    Helvetica;
  --arboreal-online-semantic-heading-4-upper-font-weight: 700;
  --arboreal-online-semantic-heading-4-upper-font-size: 13px;
  --arboreal-online-semantic-heading-4-upper-letter-spacing: 0px;
  --arboreal-online-semantic-heading-4-upper-line-height: 15.600000381469727px;
  --arboreal-online-semantic-heading-4-upper-font-style: normal;
  --arboreal-online-semantic-input-font-family: "Arial", Helvetica;
  --arboreal-online-semantic-input-font-weight: 400;
  --arboreal-online-semantic-input-font-size: 16.299999237060547px;
  --arboreal-online-semantic-input-letter-spacing: 0px;
  --arboreal-online-semantic-input-line-height: normal;
  --arboreal-online-semantic-input-font-style: normal;
  --arboreal-online-semantic-link-upper-font-family: "Montserrat", Helvetica;
  --arboreal-online-semantic-link-upper-font-weight: 700;
  --arboreal-online-semantic-link-upper-font-size: 15.600000381469727px;
  --arboreal-online-semantic-link-upper-letter-spacing: 0.7799999713897705px;
  --arboreal-online-semantic-link-upper-line-height: 23.399999618530273px;
  --arboreal-online-semantic-link-upper-font-style: normal;
  --arboreal-online-semantic-strong-font-family: "Montserrat", Helvetica;
  --arboreal-online-semantic-strong-font-weight: 700;
  --arboreal-online-semantic-strong-font-size: 13px;
  --arboreal-online-semantic-strong-letter-spacing: 0px;
  --arboreal-online-semantic-strong-line-height: 19.5px;
  --arboreal-online-semantic-strong-font-style: normal;
  --arboreal-online-montserrat-bold-upper-font-family: "Montserrat", Helvetica;
  --arboreal-online-montserrat-bold-upper-font-weight: 700;
  --arboreal-online-montserrat-bold-upper-font-size: 13px;
  --arboreal-online-montserrat-bold-upper-letter-spacing: 1.2999999523162842px;
  --arboreal-online-montserrat-bold-upper-line-height: 13px;
  --arboreal-online-montserrat-bold-upper-font-style: normal;
  --arboreal-online-montserrat-bold-font-family: "Montserrat", Helvetica;
  --arboreal-online-montserrat-bold-font-weight: 700;
  --arboreal-online-montserrat-bold-font-size: 13.699999809265137px;
  --arboreal-online-montserrat-bold-letter-spacing: 0px;
  --arboreal-online-montserrat-bold-line-height: 17.75px;
  --arboreal-online-montserrat-bold-font-style: normal;
  --arboreal-online-montserrat-regular-font-family: "Montserrat", Helvetica;
  --arboreal-online-montserrat-regular-font-weight: 400;
  --arboreal-online-montserrat-regular-font-size: 19.5px;
  --arboreal-online-montserrat-regular-letter-spacing: 0px;
  --arboreal-online-montserrat-regular-line-height: 27.299999237060547px;
  --arboreal-online-montserrat-regular-font-style: normal;
  --single-line-body-base-font-family: "Inter", Helvetica;
  --single-line-body-base-font-weight: 400;
  --single-line-body-base-font-size: 16px;
  --single-line-body-base-letter-spacing: 0px;
  --single-line-body-base-line-height: 100%;
  --single-line-body-base-font-style: normal;
}